.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

.col {
  background-color: #eee;
  border: 1px solid #FFF;
  height: 50px;
  text-align: center;
  position: relative;
  padding: 1rem;
}