#grid
  | Grid

  p
   | specify column sizes, offsets, alignment, and distribution of xs, sm, md, and lg viewport widths.

  .row
    .col.col--xs--12.col--sm--3.col--md--2.col--lg--1
      | A
    .col.col--xs--6.col--sm--6.col--md--8.col--lg--10
      | B
    .col.col--xs--6.col--sm--3.col--md--2.col--lg--1
      | C
  .row
    .col.col--xs--12.col--sm--3.col--md--2.col--lg--1
      | D
    .col.col--xs--12.col--sm--9.col--md--10.col--lg--11
      | E
  .row
    .col.col--xs--10.col--sm--6.col--md--8.col--lg--10
      | F
    .col.col--xs--2.col--sm--6.col--md--4.col--lg--2
      | G

  pre
    code.
      .row
        .col.col--xs--12.col--sm--3.col--md--2.col--lg--1
          | A
        .col.col--xs--6.col--sm--6.col--md--8.col--lg--10
          | B
        .col.col--xs--6.col--sm--3.col--md--2.col--lg--1
          | C
      .row
        .col.col--xs--12.col--sm--3.col--md--2.col--lg--1
          | D
        .col.col--xs--12.col--sm--9.col--md--10.col--lg--11
          | E
      .row
        .col.col--xs--10.col--sm--6.col--md--8.col--lg--10
          | F
        .col.col--xs--2.col--sm--6.col--md--4.col--lg--2
          | G